
@import (inline) "normalize.css";
@import "variable.less";

body {background-color: @bg-color;font-size: @font-s-16;color: @theme-color;}
ul{list-style: none;}
a{text-decoration: none;}
input{line-height: 1;}
// 重置placeholder
::-webkit-input-placeholder { /* WebKit browsers */ 
color:#D2DBE2;font-size: 15px;font-family: @PF-reg;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color:#D2DBE2;font-size: 15px;font-family: @PF-reg;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color:#D2DBE2;font-size: 15px;font-family: @PF-reg;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color:#D2DBE2;font-size: 15px;font-family: @PF-reg;
}

//------重置weui
[class^="weui-icon-"]:before, [class*=" weui-icon-"]:before {margin-left: 0;margin-right:0;}
.weui-cell:before{left:54px;}
.weui-cells_checkbox .weui-cell__hd {padding-right: 16px;}
.weui-cells_radio .weui-cell__ft{margin-right:16px;padding:0;width:22px;height: 22px;line-height:22px;text-align: center;vertical-align: middle; }
.weui-cells_checkbox .weui-icon-checked:before{content:'\EA01';color:#C9C9C9;font-size:22px;display: block;}
.weui-cell {-webkit-box-align: initial;-webkit-align-items: initial;align-items: initial;}
.toolbar .title {line-height: 1.2rem;}


.xbtn{position: absolute;top:50%;right: 16px;margin-top:-11px;vertical-align: top;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{height:1%;}
//---------header 
header.nav-bar{color: #fff;background-color:@theme-color;position: fixed;
  right: 0;top: 0;left: 0;z-index:1;padding:13px 16px;}
.nav-left{display: inline-block;position: absolute;top: 13px;}
.nav-left .icon_back{width:10px;hegiht:18px;margin-right: 5px;}
.nav-left a font.back-font{font-size: @font-s-13;vertical-align: top;}
.nav-title{padding: 0; margin: 0;text-align: center;font-size: @font-s-18;line-height:1;font-weight:normal;font-family:@PF-sBold;}
.nav-right{display: inline-block;position: absolute;top: 13px;right:16px;z-index: 0;}
.nav-right .nav-more{position: relative;left: 100%;margin-left: -22px;}
.icon_dots{width: 22px;height: 22px;}

.nav-more-list{position: relative;display: none;z-index: 2;}
.dropdown_mask{position: fixed;top: 0;right: 0;bottom: 0;left: 0;
  background-color:rgba(0, 0, 0, 0.1);z-index: 1;display: none;}
.nav-more-list .arrow{display: block;width: 0;height: 0;content: '';
  border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #fff;
  position: absolute;right: 11px;top: -5px;}
.nav-item-list{background-color: #fff;border-radius: 4px;}
.nav-item-list .nav-item{line-height: 1;padding: 13px 14px;width: 114px;box-shadow: inset 0 -1px 0 0 #F0F0F0;}
.nav-item-list .nav-item:last-child{ box-shadow: none;}
.nav-item-list a.nav-item-link{font-family: @PF-reg;font-size: @font-s-15;line-height: 1;color:#131724;}
.nav-item-list .nav-item .nav-link-img{width: 18px;height: 18px;margin-right: 10px;}

.header_masker{height: 44px;}

//-------page_tip
.page-tip{position:relative;background-color: #FEF5DA;color:#FB982A;font-size:14px;line-height:1.2;padding: 12px 40px 12px 16px;}
.page-tip .close_xbtn{&:extend(.xbtn);width: 22px;height: 22px;}
.page-tip .xbtn_img{width: 22px;height: 22px;}


.xblock{margin-top: 8px;line-height: 1.2;font-size: 15px;}
.xblock:before,.xblock:after{display: none;}
.xblock-title-row{padding:12px 16px;}
.xblock-title{font-weight:normal;color:#9CA5B5;font-size: 12px;line-height: 1;font-family: @PF-reg;}
.xblock-content-list{background-color: #fff;}
.xblock-row{padding-left: 16px;}
.xblock-inner-row{padding:13px 16px 13px 0;
	// box-shadow: inset 0 -0.5px 0 0 #ECEEEF;
	font-size: 15px;line-height: 22px;}
.xblock-inner-row:after{position:absolute;top:48px;display:inline-block;content:'';height:0.5px;left:0;width:100%;background-color:#ECEEEF;}
.xblock-form .xblock-row:last-child .xblock-inner-row:after{display:none;}
// .xblock-row:last-child .xblock-inner-row{box-shadow: none;}
.xblock-row:before{display: none;}
//验证失败
.xblock-row-err .xblock-inner-row:after{display: none;}
.xblock-row-err{border:1px solid #E3324C;position: relative;}
.xblock-row-err{border:1px solid #E3324C;position: relative;}
.xblock-row-err:before{content:'';display:inline-block;position:absolute;right:0;border-right: 20px solid #E3324C;border-bottom: 20px solid transparent;}
.xblock-row-err:after{content:'!';display:inline-block;position:absolute;right:0;right:4px;top:-2px;font-size:0.7rem;color:#fff;}

.xblock-row-right{color:#131724;font-size: 15px;line-height:22px;font-family: @PF-reg;}
.xblock-row-left label{color:#131724;font-size: 15px;line-height:22px;width: 104px;}
.xblock-row-right input{color:#131724;font-size: 15px;line-height:15px;font-family: @PF-reg;}
// .xblock-row-right .xblock-right-infoText{color:#131724;text-align:right;}
.xblock-info-right {color:#131724;text-align:right;}
.xblock-info-left {color:#131724;text-align:left;}
.xblock-row-right .xblock-right-linkText{color:#4678D4;}
.xblock-row-placeholder{&:extend(::-webkit-input-placeholder);}
//单选
.xblock-checkVals-text,.xblock-radioVal-text,.xblock-selectVal-text{color:#131724;}
//快速单选
.xblock-quickSelect-row .xblock-inner-row{padding:9px 16px 9px 0}
.xblock-quickSelect-row .xblock-inner-row .weui-label{line-height:30px;}
.xblock-row-right .quick-selects{vertical-align:top;display:inline-block;border-radius: 4px;}
.xblock-row-right .quick-select-item{color:@theme-color;border:1px solid #51C75B;line-height:1;border-right:1 solid #51C75B;padding:7.5px 18px;background-color:#fff;font-size:13px;float:left;display:inline-block;}
@media screen and (max-width: 375px) {
	.xblock-row-right .quick-select-item{padding:7.5px 13px;}
}
.xblock-row-right .quick-select-item.selected-item{color:#fff;background-color: #51C75B;}
.xblock-row-right .quick-select-item:first-child{border-right:none;border-top-left-radius:4px;border-bottom-left-radius:4px;}
.xblock-row-right .quick-select-item:last-child{border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;}
//数量微调
.xblock-row-right .num-control{display:inline-block;line-height: 22px;vertical-align: top;}
.num-decrease{vertical-align:top;position:relative;display:inline-block;width: 22px;height:22px;border-radius:50%;background-color:#E3324C;}
.num-add{&:extend(.num-decrease);background-color:#51C75B;}
.icon-decrease_circle:before{content:'';display:inline-block;top:10px;width:16px;height:2px;background-color:#fff;position: absolute;left:3px;}
.icon-add_circle:before{content:'';display:inline-block;top:10px;width:16px;height:2px;background-color:#fff;position: absolute;left:3px;}
.icon-add_circle:after{content:'';display:inline-block;top:3px;width:2px;height:16px;background-color:#fff;position: absolute;left:10px;}
.num-count{display:inline-block;text-align:center;margin:0 16px;color:#131724;width:24px;line-height: 22px;vertical-align: top;font-size: 15px;}

.xblock-row .xbtn_link .red_point{width:7px;height:7px;border-radius:50%;margin-right:26px;background-color:#E3324C;float:right;margin-top:7px;}
.xblock-row .xbtn_link .status_text{color:@theme-color;margin-right: 26px;}
.xblock-row .ques_xbtn{&:extend(.xbtn);width: 22px;height: 22px;}
.xblock-row .xbtn_tip{  }
.xblock-row a .tip-cont{display:none;padding: 16px;background-color:#131724;border-radius:4px;position:absolute;left:0;bottom:48px;right:16px;z-index:1; }
.xblock-row a .tip-arrow{border-left: 4.5px solid transparent;border-right: 4.5px solid transparent;border-top: 4.2px solid #131724;position:absolute;right:7px;bottom:-4.2px; }
.xblock-row a .tip-text{color:#fff;text-align: justify;  }
.xblock-row .next_xbtn{&:extend(.xbtn);width: 22px;height: 22px;}
.xblock-row .xbtn_close{display: none;}
.xblock-row .close_xbtn{&:extend(.xbtn);width: 22px;height: 22px;}

//------selects-xblock
.xblock-select-row{padding:12px 16px;font-size: 15px;line-height: 22px;color:#131724;}
.xblock-radio-row{padding:12px 16px;font-size: 15px;line-height: 22px;color:#131724;}
// .weui-cells_radio .xblock-radio-row .weui-cell__ft i.weui-icon-checked:before{font-size: 22px;}
.checkbox-text{width: 100px;display: inline-block;-webkit-box-flex: inherit;-webkit-flex: inherit;flex: inherit;}
.checkbox-tip{float: right;}
.checkbox-tip font{color:#9CA5B5;font-size:12px;line-height:1;float: right;}

// 按钮
button.primary-btn{background-color: @theme-color;border:none;color:#fff;display:block;width: 100%;height:44px;margin:10px auto;vertical-align: middle;line-height: 44px;text-align: center;}
button.primary-btn-l{&:extend(button.primary-btn);}
button.primary-btn-m{&:extend(button.primary-btn);width:calc(~"100% - 64px");border-radius:4px;}
button.secondary-btn{&:extend(button.primary-btn);width:calc(~"100% - 64px");border:1px solid @theme-color;border-radius:4px;color: @theme-color;background-color:inherit;}

.xblock-search{background-color:#fff;}
//日期选择
.xblock-date-row{margin-bottom:32px;background-color:#fff;padding: 16px 16px 0 16px;}
.xblock-date-row .date-col{margin-right:16px;display:inline-block;width: calc(~"50% - 16px");position:relative;}
.xblock-date-row .date-col:after{display:inline-block;content:'';position:absolute;top:66px;right:0;height:0.5px;width:100%;background-color:#ECEEEF;}
.xblock-date-row .date-col:last-child{margin-right:0;}
.xblock-date-row .date-title{color:#9CA5B5;font-weight:normal;font-size:12px;}
.xblock-date-row .date-val{display:inline-block;font-size:24px;line-height:1;font-family:SFUIDisplay-Bold;color:@theme-color;padding:12px 0; }
//自定义搜索
.xblock-define-search{margin-bottom:32px;}
.xblock-search-row-left{width: 120px;position:relative;}
.xblock-search-row-left:after{display:inline-block;content:'';position:absolute;width:0.5px;height:48px;left:120px;top:-12px;background-color:#ECEEEF;}
.search-row-label{color:#4678D4;font-family:@PF-reg;display:inline;vertical-align:top;}
.xblock-search-row-left .next_xbtn{right:8px;}
.xblock-search-row-right{padding-left:16px;}
.xblock-search-add-row .weui-label{color:#131724;font-family:@PF-reg;}
//-----常用多选搜索
.xblock-label-search{background-color:#fff;margin-bottom: 32px;}
.labels-list{padding:0 7px 0 16px;margin-top:4px;}
.labels-list .label-item{font-size:14px;margin:0 5px 9px 0;display:inline-block;width:79px;height:36px;text-align:center;background-color:#F2F5F9;color:#9CA5B5;border-radius:4px;line-height:36px;vertical-align:middle;}
.labels-list .label-item.label-active{background-color:@theme-color;color:#fff; }

//-----搜索历史
.xblock-search-history-block .search-histories-list{padding:0 16px;}
.xblock-search-history-block .search-history-item{position:relative;}
.xblock-search-history-block .search-history-item:after{position:absolute;left:0;top:48px;display: inline-block;content:'';height:0.5px;width:100%;background-color:#F0F0F0;}
.xblock-search-history-block .search-history-item span{color:#4678D4;font-family:@PF-reg;width:calc(~"100% - 31px") ;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;padding:17px 0;display:inline-block;font-size:14px;line-height:1;vertical-align:middle;}
.xblock-search-history-block .clear-history-row{margin:0 16px;}
.xblock-search-history-block .clear-history-row .clear-history{color:#9CA5B5;text-align:center;font-size:15px;padding:16.5px 0;}