extends layout

block content
  header.nav-bar
    div.nav-left 
      a#back-lin.back_xbtn
        img.icon_back(src='images/icons/left_arr.png',alt='',width='10',height='18')
        font.back-font 返回
    h1.nav-title 卡片展示页面
    div.nav-right#dropdown
      a.nav-more(href='javascript:void(0);')
        img.icon_dots(src='images/icons/dots.png',alt='',width='22',height='22')
      div.dropdown_mask
      div.nav-more-list
        span.arrow
        ul.nav-item-list
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='images/icons/add_cir.png',width='18',height='18')
              font 本页功能一
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='images/icons/clock.png',width='18',height='18')
              font 本页功能二
  div.header_masker

  div.xblock.card-info-xblock
    div.xblock-title-row
        h2.xblock-title 卡片式设计
    ul.card-info-list
      li.card-info-item
        div.card-item-flex
          h2.card-info-title 
            span.card-title-icon D1
            font.card-title-text 旧金山 / 丹麦村 / 洛杉矶
          div.card-small-text 2016/05/24 星期日
          div.card-info-content
            img.card-content-icon.location-icon(src='images/icons/address.png',width='16',height='16')
            p.card-info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
          div.card-info-content 
            img.card-content-icon.food-icon(src='images/icons/hotel.png',width='16',height='16')
            p.card-info-text 旧金山州立大学学生宿舍
          div.card-info-content 
            img.card-content-icon.building-icon(src='images/icons/dinner.png',width='16',height='16')
            p.card-info-text 早餐自理 / 午餐自理 / 学校晚餐
      li.card-info-item
        div.card-item-flex
          h2.card-info-title 
            span.card-title-icon D2
            font.card-title-text 旧金山 / 丹麦村 / 洛杉矶
          div.card-small-text 2016/05/24 星期日
          div.card-info-content
            img.card-content-icon.location-icon(src='images/icons/address.png',width='16',height='16')
            p.card-info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
          div.card-info-content 
            img.card-content-icon.food-icon(src='images/icons/hotel.png',width='16',height='16')
            p.card-info-text 旧金山州立大学学生宿舍
          div.card-info-content 
            img.card-content-icon.building-icon(src='images/icons/dinner.png',width='16',height='16')
            p.card-info-text 早餐自理 / 午餐自理 / 学校晚餐
        

  div.xblock.slide-info-xblock
    ul.slide-info-list
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
        div.slide-btn-cont.del_btn
          img.slide-btn(src='images/icons/delete.png',width='40',height='40')
          font 删除
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt expedita sint velit et, unde tempore, sapiente voluptatem aut in, ab doloremque minima quod reiciendis consequuntur. Dolorum illum, perferendis necessitatibus.
        div.slide-btn-cont.del_btn
          img.slide-btn(src='images/icons/delete.png',width='40',height='40')
          font 删除

  div.xblock.slide-info2-xblock
    ul.slide-info2-list
      li.slide-info2-item
        div.slide-item-flex
          h2.slide-info2-title 澳门观光塔 空中漫步Skywalk【赠观光塔门票】
          ul.info-list
            li.info-item
              label 订单号：
              span GZLGZ0GD4SK1703310701
            li.info-item
              ul.info-inner-list
                li
                  label 日期：
                  span 2016/08/09
                li
                  label 计划：
                  span 74
            li.info-item
              label 已收：
              span 71 (成人7+小孩2+婴儿1)
            li.info-item
              span.status 已截止
        ul.btn-cont
          li.btn.grey 
            font 其他
          li.btn.red 
            font 消极
  
  div.banner-mask
  div.bottom-banner
    span.banner-left 
      font.banner-title 演算总价: 
      font.banner-red ￥17,999
    span.banner-right 提交

append script
  script(type='text/javascript',src="js/card-info.js")
