extends layout

block content
  header.nav-bar
    div.nav-left 
      a#back-lin.back_xbtn
        img.icon_back(src='images/icons/20x36/back.png',alt='',width='10',height='18')
        font.back-font 返回
    h1.nav-title 卡片展示页面
    div.nav-right#dropdown
      a.nav-more(href='javascript:void(0);')
        img.icon_dots(src='images/icons/44x44/dots.png',alt='',width='22',height='22')
      div.dropdown_mask
      div.nav-more-list
        span.arrow
        ul.nav-item-list
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='',width='18',height='18')
              font 本页功能一
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img
              font 本页功能二
  div.header_masker

  div.xblock.slide-info-xblock
    ul.slide-info-list
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
        div.slide-btn-cont
          img.slide-btn(src='',width='40',height='40')
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt expedita sint velit et, unde tempore, sapiente voluptatem aut in, ab doloremque minima quod reiciendis consequuntur. Dolorum illum, perferendis necessitatibus.
        div.slide-btn-cont
          img.slide-btn(src='',width='40',height='40')
        
       


            
