extends layout

block content
  header.nav-bar
    div.nav-left 
      a#back-lin.back_xbtn
        img.icon_back(src='images/icons/20x36/back.png',alt='',width='10',height='18')
        font.back-font 返回
    h1.nav-title 卡片展示页面
    div.nav-right#dropdown
      a.nav-more(href='javascript:void(0);')
        img.icon_dots(src='images/icons/44x44/dots.png',alt='',width='22',height='22')
      div.dropdown_mask
      div.nav-more-list
        span.arrow
        ul.nav-item-list
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='',width='18',height='18')
              font 本页功能一
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img
              font 本页功能二
  div.header_masker

  div.xblock.card-info-xblock
    div.xblock-title-row
        h2.xblock-title 卡片式设计
    ul.card-info-list
      li.card-info-item
        div.card-item-flex
          h2.card-info-title 
            span.card-title-icon D1
            font.card-title-text 旧金山 / 丹麦村 / 洛杉矶
          div.card-small-text 2016/05/24 星期日
          div.card-info-content
            img.card-content-icon.location-icon(src='',width='16',height='16')
            p.card-info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
          div.card-info-content 
            img.card-content-icon.food-icon(src='',width='16',height='16')
            p.card-info-text 旧金山州立大学学生宿舍
          div.card-info-content 
            img.card-content-icon.building-icon(src='',width='16',height='16')
            p.card-info-text 早餐自理 / 午餐自理 / 学校晚餐
      li.card-info-item
        div.card-item-flex
          h2.card-info-title 
            span.card-title-icon D2
            font.card-title-text 旧金山 / 丹麦村 / 洛杉矶
          div.card-small-text 2016/05/24 星期日
          div.card-info-content
            img.card-content-icon.location-icon(src='',width='16',height='16')
            p.card-info-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
          div.card-info-content 
            img.card-content-icon.food-icon(src='',width='16',height='16')
            p.card-info-text 旧金山州立大学学生宿舍
          div.card-info-content 
            img.card-content-icon.building-icon(src='',width='16',height='16')
            p.card-info-text 早餐自理 / 午餐自理 / 学校晚餐
        

  div.xblock.slide-info-xblock
    ul.slide-info-list
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur sint velit et, unde tempore, sapiente voluptatem oremque minima quod rconsequuntur.
        div.slide-btn-cont
          img.slide-btn(src='',width='40',height='40')
      li.slide-info-item
        div.slide-item-flex
          h2.slide-info-title 
            span.left_text 李先生
            span.separator_text  / 
            span.right_text 13356789256
          div.slide-info-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur deserunt expedita sint velit et, unde tempore, sapiente voluptatem aut in, ab doloremque minima quod reiciendis consequuntur. Dolorum illum, perferendis necessitatibus.
        div.slide-btn-cont
          img.slide-btn(src='',width='40',height='40')

  div.banner-mask
  div.bottom-banner
    span.banner-left 
      font.banner-title 演算总价: 
      font.banner-red ￥17,999
    span.banner-right 提交
        
       


            
