extends layout

block content
  header.nav-bar
    div.nav-left 
      a#back-lin.back_xbtn
        img.icon_back(src='images/icons/left_arr.png',alt='',width='10',height='18')
        font.back-font 返回
    h1.nav-title 表单填写
    div.nav-right#dropdown
      a.nav-icon(href='#',style='margin-right:12px')
        img.icon_first(src='images/icons/icon.png',alt='',width='22',height='22')
      a.nav-more(href='javascript:void(0);')
        img.icon_dots(src='images/icons/dots.png',alt='',width='22',height='22')
      div.dropdown_mask
      div.nav-more-list
        span.arrow
        ul.nav-item-list
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='images/icons/add_cir.png',width='20',height='20')
              font 本页功能一
          li.nav-item
            a.nav-item-link(href='#')
              img.nav-link-img(src='images/icons/clock.png',width='20',height='20')
              font 本页功能二
  div.header_masker

  div.main
    button.primary-btn-m.alert-btn Alert
    button.primary-btn-m.confirm-btn comfirm
    button.primary-btn-m.toast-btn toast


append script
  script(type='text/javascript',src="js/form.js")
  script.
    $(document).on("click", ".alert-btn", function() {
      $.alert("这是个警告框！这是个警告框这是个警告框", "警告！");
    });

    $(document).on("click", ".confirm-btn", function() {
      $.confirm("您确定要删除文件吗?", "确认删除?", function() {
        $.toast("删除成功!");
      }, function() {
        //取消操作
      });
    });
    $(document).on("click", ".toast-btn", function() {
      $.toast("操作成功", function() {
        console.log('close');
      });
    })