extends layout

block content
  header.nav-bar
    div.nav-left 
      a#back-lin.back_xbtn
        //- img.icon_back(src='images/icons/left_arr.png',alt='',width='10',height='18')
        //- font.back-font 返回
    h1.nav-title 目录
  div.header_masker

  div.main
    //- div.page-tip
    //-   p 针对该页面重要的提示信息
    //-   a.close_xbtn
    //-     img.xbtn_img(width='22',height='22',src='images/icons/close_grey.png')

    div.xblock.form-xblock
      ul.index-list
        li.index-item
          a(href='form.html') 表单组件
          .index-cont 输入框、多选、单选；信息展示行；长、短按钮
        li.index-item
          a(href='search-form.html') 搜索组件
          .index-cont 日历选择、搜索条件的添加、删除、搜索历史记录
        li.index-item
          a(href='dialog-toast.html') 弹出窗口
          .index-cont 警告框、提示框、对话框
        li.index-item
          a(href='card-info.html') 卡片式展示框
          .index-cont 可左右滑动、不可滑动
        li.index-item
          a(href='tabList.html') 切换展示框
          .index-cont 可切换展示信息  
        li.index-item
          a(href='treeSelect.html') 树形结构选择
          .index-cont 树形结构选择


append script
  script(type='text/javascript',src="js/form.js")