doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    title 主页面
    link(rel='stylesheet', href='styles/weui.css')
    link(rel='stylesheet', href='styles/jquery-weui.css')
    link(rel='stylesheet', href='styles/dateRange.css')
    link(rel='stylesheet', href='styles/ion.rangeSlider.css')
    link(rel='stylesheet', href='styles/main.css')
  body(ontouchstart)
    block content
    script(type='text/javascript' src='js/libs/fastclick.js')
    script(type='text/javascript' src='js/libs/jquery-2.1.4.js')
    script(type='text/javascript' src='js/libs/dateRange.js')
    script(type='text/javascript' src='js/libs/jquery-weui.js')
    script(type='text/javascript' src='js/libs/ion.rangeSlider.min.js')
    script(type='text/javascript' src='js/my.js')

