doctype html
html(lang="en")
  head
    title Yo! Gulp Less Jade
    link(rel='stylesheet', href='styles/main.css')
  body
    block content
    script(type='text/javascript' src='js/libs/jquery-2.1.4.js')
    script(type='text/javascript' src='js/libs/jquery-weui.min.js')
    script(type='text/javascript' src='js/libs/fastclick.js')

